{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="form-group">
            <label for="exampleInputEmail1">Shares</label>
            <input name="shares" autocomplete="off" autofocus class="form-control mx-auto w-auto" placeholder="Shares">
            <select name="symbol">
                <option disabled selected>Symbol</option>
                {% for row in jinjastock %}
                <option value="{{row['symbol']}}">{{ row["symbol"] }}</option>
                {% endfor %}
            </select>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Sell</button>
    </form>
{% endblock %}
